#container
{
    width: 1000px;
    padding: 10px;
}

#main
{
    clear: both;
}

#navigation
{
    height: 50px;
    width: 100%;
    display: inline;
    float: left;
    clear: both;
    padding: 0 10px;
    border-bottom: 1px solid blue;
}

#control
{
    padding: 10px;
    width: 320px;
    height: 550px;
    float: left;
    border-right: 1px solid blue;
}

#data
{
    width: 100%;
    padding: 10px;
}

button
{
    margin: 5px;
    height: 25px;
    width: 150px;
}

form
{
    border-bottom: 1px solid red;
}

p
{
    margin: 0;
}

input
{
    padding: 0 10px;
}

td
{
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}